---
import Layout from '../layouts/Layout.astro';
import Badge from "../components/Badge.astro";
import Github from "../components/icons/Github.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Mail from "../components/icons/Mail.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Experience  from '../components/Experience.astro';
import Container from '../components/Container.astro';
import BriefCase from "../components/BriefCase.astro";
import Code from "../components/icons/Code.astro";
import Proyects from '../components/Proyects.astro';
import SobreMi from "../components/SobreMi.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Portfolio || Ing.Vicencio Grado">
	<main class="px-8 bg-[#0A0A0B]">
		<Container class="py-40 pb-30">
			<img class="rounded-full w-12 h-12 mb-4" src="https://media.licdn.com/dms/image/v2/D5603AQESk3S138xXlQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1665023505133?e=1736380800&v=beta&t=LDsDRNvSLMiyHj6Ff3XRFGxIIh-Xub7xp1zbh_ORaTA" alt="">
		<h1 class="text-[#fff] text-3xl lg:text-5xl md:text-4xl font-bold flex flex-row gap-x-10 pb-6 lg:pb-10">Hey, soy Paul<a href="https://www.linkedin.com/in/
paul-vicencio-grado
" class="flex justify-center items-center" target="_blank"><Badge>Disponible para trabajar</Badge></a></h1>
		<h2 class="text-xl lg:text-lg text-wrap font-light max-w-90 text-[#fff]"><span class="opacity-80 font-bold text-xl text-sky-400/100">Desarrollador Web Jr Sin Experiencia</span>. Aunque sin experiencia laboral previa, tengo muchas ganas de seguir aprendiendo y creando soluciones únicas.</h2>
		<nav class="flex gap-4 mt-4 flex-wrap">
			<SocialPill href="https://www.linkedin.com/in/paul-vicencio-grado">
				<LinkedIn class="size-4 md:size-6"/><p class="text-[#fff]"></p>
			</SocialPill>
			<SocialPill href="https://github.com/123PaulGrillo"> 
				<Github class="size-4 md:size-6"/> <p class="text-[#fff]"></p> Github
			</SocialPill>
			<SocialPill href="https://profile.indeed.com/?hl=es_MX&co=MX&from=gnav-menu-viewjob">
				<Mail class="size-4 md:size-6"/> <p class="text-[#fff]">Paul Vicencio Grado</p>
			</SocialPill>
		</nav>
	</Container>
	
		<Container id="experiencia" class="mb-[80px]">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-1 items-center text-[#fff]">
			<BriefCase class="size-6 "></BriefCase>Experiencia Laboral</h2>
			<Experience></Experience>
		</Container>

		<Container id="proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex justify-left gap-x-1 items-center text-[#fff]">
			<Code class="size-6  text-[#fff]"></Code>Proyectos</h2>
		</Container>
			<Proyects></Proyects>

	
	</section>
	<Container id="SobreMi" class="mt-24 pb-24">
			<SobreMi>
			</SobreMi>

</Container>
	</main>
</Layout>
<Footer ></Footer>

