---
import Layout from '../layouts/Layout.astro';
import Badge from "../components/Badge.astro";
import Github from "../components/icons/Github.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Mail from "../components/icons/Mail.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Experience  from '../components/Experience.astro';
import Container from '../components/Container.astro';
import BriefCase from "../components/BriefCase.astro";
import Code from "../components/icons/Code.astro";
import Proyects from '../components/Proyects.astro';
import SobreMi from "../components/SobreMi.astro";
import Footer from "../components/Footer.astro";
import Designs from '../components/Designs.astro';
import Figma from "../components/icons/Figma.astro";
import ContainerCarousell from "../components/ContainerCarousell.astro";
---

<Layout title="Portfolio || Ing.Vicencio Grado">
	<main class="px-8">
		<Container class="py-40 pb-30">
			<img class="rounded-full w-12 h-12 mb-4" src="./proyects/Perfil.jpg" alt="">
		<h1 class="text-[#fff] text-3xl lg:text-5xl md:text-4xl font-bold flex flex-row gap-x-10 pb-6 lg:pb-10">Hey, soy Paul<a href="https://www.linkedin.com/in/
paul-vicencio-grado
" class="flex justify-center items-center" target="_blank"><Badge>Disponible para trabajar</Badge></a></h1>
		<h2 class="text-xl lg:text-lg text-wrap font-light max-w-90 text-[#fff]"><span class="opacity-80 font-bold text-xl text-sky-400/100">Desarrollador Web Jr Sin Experiencia</span>. En búsqueda de mi primera experiencia profesional. Con una sólida base en tecnologías web y una pasión por el aprendizaje continuo, estoy comprometido a crear soluciones innovadoras y efectivas. Mi enfoque está en desarrollar proyectos de alta calidad mientras amplío mis habilidades y aporto valor a los equipos en los que participe.</h2>
		 
		<nav class="flex gap-4 mt-4 flex-wrap">
			<SocialPill href="https://www.linkedin.com/in/paul-vicencio-grado">
				<LinkedIn class="size-4 md:size-6"/><p class="text-[#fff]">LinkedIn</p>
			</SocialPill>
			<SocialPill href="https://github.com/123PaulGrillo"> 
				<Github class="size-4 md:size-6"/> <p class="text-[#fff]"></p> Github
			</SocialPill>
			<SocialPill href="https://profile.indeed.com/?hl=es_MX&co=MX&from=gnav-menu-viewjob">
				<Mail class="size-4 md:size-6"/> <p class="text-[#fff]">Paul Vicencio Grado</p>
			</SocialPill>
		</nav>
	
	</Container>
	
		<Container id="experiencia" class="mb-[80px] bg-[#0A0A0A]">
			<h2 class="text-2xl font-semibold mb-8 flex gap-x-1 items-center text-[#fff]">
			<BriefCase class="size-8"></BriefCase>Experiencia Laboral</h2>
			<Experience></Experience>
		</Container>

		<Container id="proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex justify-left gap-x-1 items-center text-[#fff]">
			<Code class="size-6  text-[#fff]"></Code>Proyectos</h2>
		</Container>
		<Container>

			<Proyects class=" bg-[#000]"></Proyects>
		</Container>
	
		<Container id="diseños">
			<h2 class="text-2xl font-semibold mb-6 flex justify-left gap-x-1 items-center text-[#fff]">
			<Figma class="size-6  text-[#fff]"></Figma>Diseños</h2>
		</Container>
		<ContainerCarousell>
			<Designs class=" bg-[#000]"></Designs>
		</ContainerCarousell>
	</section>
	<Container id="SobreMi" class="mt-24 pb-24">
			<SobreMi class=" bg-[#000]">
			</SobreMi>
</Container>
	</main>
</Layout>
<Footer ></Footer>

