---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERINCE = [
    {
        date: 'Octubre 2023 - Actualmente',
        title: 'Ingeniero de Soporte TI',
        description:'Manejo de bases de datos en SQL Server, destacando en la creación y gestión de triggers y stored procedures para automatizar procesos y optimizar el rendimiento del sistema. Consultas complejas utilizando inner joins, left joins y otras cláusulas avanzadas para la extracción, manipulación y análisis eficiente de datos. Administración general de bases de datos, respaldos y mantenimiento preventivo.'
    },
    {
        date: 'Octubre 2023 - Junio 2024',
        title: 'Lider de Proyecto',
        description:'Responsable de la configuración y mantenimiento de equipos, asegurando su óptimo funcionamiento a lo largo del proyecto. Supervisar el monitoreo satelital mediante una plataforma web desarrollada por el equipo, garantizando precisión y continuidad en el seguimiento. A su vez coordinación de tareas y gestion de recursos, liderando al equipo de trabajo para lograr la finalización exitosa del proyecto dentro de los plazos establecidos.'
    },
    {
        date:"Junio 2022 - Agosto 2023",
        title:'Ingeniero de Soporte Jr',
        description:'Encargado de la administración y mantenimiento de la infraestructura de red, la configuración de switches y routers, y el cableado estructurado. Además de proporcionar soporte a usuarios y compañeros técnicos en campo para garantizar el rendimiento óptimo de los sistemas.'
    },
    {
        date:'Marzo 2021 - Junio 2021',
        title:'Desarrollador FrontEnd',
        description:'Responsable de diseñar e implementar el sistema de gestión de calificaciones, creando interfaces intuitivas y funcionales. Realizar un análisis detallado de las necesidades del cliente y dar seguimiento a través de informes sobre los avances del proyecto, asegurando que se cumplieran los requisitos y expectativas.'
    }
]
---
<ol class="relative border-s border-gray-200 ml-2">                  
    {
        EXPERINCE.map(experiencie => {
            return(
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencie} />
            </li>)
        })
    }

</ol>

