
<header class="flex justify-center items-center py-4 w-full xl:w-[1400px] mx-auto ">

<nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top" class="text-[#fff]">Inicio</a>
    <a href="#experiencia" class="text-[#fff]">Experiencia</a>
    <a href="#proyectos" class="text-[#fff]">Proyectos</a>
    <a href="#SobreMi" class="text-[#fff]">Sobre Mi</a>
</nav>
</header>