
<section class="mb-20 flex flex-col bg-[rgba(192,195,253,0.1)] px-20 rounded-lg shadow-lg hover:cursor-pointer transition-all duration-300">
    <h2 class="text-2xl font-semibold mb-6 flex gap-x-1 items-center justify-center pt-16">Sobre Mi</h2>
    <div class="flex justify-between gap-x-10 pb-16">
    <div class="informacionSobreMi w-100%">
    <img src="https://i.pinimg.com/736x/91/1d/3a/911d3a402d290bbbbf1c47cac5c47263.jpg" alt="Foto de Paul Vicencio Grado" class="w-[360px] h-[260px] rounded">
</div>
<div class="cta w-full">
    <p class="pretty  text-[#fff]">Soy Paul Vicencio Grado, Ingeniero en Redes Inteligentes y Ciberseguridad, y me estoy desarrollando en el área de desarrollo web FullStack. Aunque sigo perfeccionando mis habilidades, ya cuento con capacidades que me permiten aportar soluciones significativas al equipo. Mi experiencia en soporte TI y seguridad informática me permite abordar proyectos de manera integral, siempre con una actitud proactiva y en constante aprendizaje.</p>
   
</div>
</div>
</section>